#title{
text-align: center;
color: #85357e;
width: 100%;
font-family: Arial, Helvetica, sans-serif;
}

#color-palette{
   margin-left: 34%;
   margin-right: 5%;
}

.color{
    border: black solid 1px;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-left: 4%;  
}

#cor1{
    background-color: black;
    
}

#cor2{
    background-color: #EF476F;
}

#cor3{
    background-color: #FFD166;
}

#cor4{
    background-color: #09814A;
    
}

#button-random-color{

width: auto;
height: 30px;
margin-left: 45%;
background-color: #85357e;
color: white;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
}

#pixel-board{

    /* border: black solid 1px;  */
    margin-top: 3%;
    
    
}

.linha{
   margin-left: 42.5%;
   display: flexbox ;
   justify-content: center;
   align-items: center;
}
.pixel{
    border: black solid 1px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    margin-left: 4px;
    
}